In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, f1_score, recall_score, precision_recall_curve, precision_score, roc_auc_score, roc_curve, accuracy_score
from sklearn.pipeline import Pipeline
pd.set_option('display.max_columns', None)

from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from keras import backend as K
from keras_tuner import Hyperband

In [8]:
#pip install keras
#pip install keras-tuner
#pip install tensorflow
#!pip install keras-tuner --upgrade

In [10]:
df=pd.read_csv('/Users/zabihbuda/Desktop/York Universiy files/Data Science /schulich_data_science_1/final project/unified_payments_new.csv')
df.head()

,Unnamed: 0,id,Description,Seller Message,Created (UTC),Amount,Status,Card ID,Card Brand,Card Funding,Card Address City,Card Address State,Card Address Country,Card Issue Country,Card Fingerprint,Disputed Amount,Dispute Status,Dispute Reason,Dispute Date (UTC),Sale Date,Year,Month,Day,Dispute,Dispute Date,Dispute Year,Dispute Month,Dispute Day
0,0,ch_3NOsCuI0IKHUYx9W1HCqn8Mx,promo,0,2023-07-01 1:02,19.0,Paid,card_1NOsCuI0IKHUYx9WXBF00fK7,MasterCard,credit,PARADISE,SA,0,AU,0,0.0,0,0,0,2023-07-01 01:02:00,2023,7,1,0,1970-01-01 00:00:00,1970,1,1
1,1,ch_3NOsCrI0IKHUYx9W1UPKK5lA,verification,1,2023-07-01 1:02,1.0,Refunded,card_1NOsCrI0IKHUYx9WFZIMvALV,MasterCard,credit,PARADISE,SA,1,AU,1,0.0,0,0,0,2023-07-01 01:02:00,2023,7,1,0,1970-01-01 00:00:00,1970,1,1
2,2,ch_3NOpTUI0IKHUYx9W0su10iYi,Ticket Subscription,2,2023-06-30 22:07,94.0,Paid,card_1NOpTUI0IKHUYx9WaKe13D4g,MasterCard,debit,Lecanto,FL,2,US,2,0.0,0,0,0,2023-06-30 22:07:00,2023,6,30,0,1970-01-01 00:00:00,1970,1,1
3,3,ch_3NOpTQI0IKHUYx9W0I8pPMmd,Ticket Subscription,3,2023-06-30 22:07,13.0,Paid,card_1NOpTQI0IKHUYx9WizKidsFO,MasterCard,debit,Dundee,MI,3,US,3,0.0,0,0,0,2023-06-30 22:07:00,2023,6,30,0,1970-01-01 00:00:00,1970,1,1
4,4,ch_3NOpTOI0IKHUYx9W041AYyrt,Ticket Subscription,4,2023-06-30 22:07,35.0,Paid,card_1NOpTOI0IKHUYx9WEpnGbDUg,MasterCard,credit,Carlton,NSW,4,AU,4,0.0,0,0,0,2023-06-30 22:07:00,2023,6,30,0,1970-01-01 00:00:00,1970,1,1

In [ ]:
df=df.drop(['Unnamed: 0', 'id', 'Created (UTC)', 'Card ID','Dispute Date (UTC)', 'Sale Date','Dispute Date'], axis=1)
df.head()

,Description,Seller Message,Amount,Status,Card Brand,Card Funding,Card Address City,Card Address State,Card Address Country,Card Issue Country,Card Fingerprint,Disputed Amount,Dispute Status,Dispute Reason,Year,Month,Day,Dispute,Dispute Year,Dispute Month,Dispute Day
0,promo,0,19.0,Paid,MasterCard,credit,PARADISE,SA,0,AU,0,0.0,0,0,2023,7,1,0,1970,1,1
1,verification,1,1.0,Refunded,MasterCard,credit,PARADISE,SA,1,AU,1,0.0,0,0,2023,7,1,0,1970,1,1
2,Ticket Subscription,2,94.0,Paid,MasterCard,debit,Lecanto,FL,2,US,2,0.0,0,0,2023,6,30,0,1970,1,1
3,Ticket Subscription,3,13.0,Paid,MasterCard,debit,Dundee,MI,3,US,3,0.0,0,0,2023,6,30,0,1970,1,1
4,Ticket Subscription,4,35.0,Paid,MasterCard,credit,Carlton,NSW,4,AU,4,0.0,0,0,2023,6,30,0,1970,1,1

In [11]:
X=pd.read_csv('/Users/zabihbuda/Desktop/York Universiy files/Data Science /schulich_data_science_1/final project/X.csv')
y=df['Dispute']

In [12]:
X.shape

(90660, 34)

In [13]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=100)

In [14]:
#Creating a simple neural network model
model=Sequential()
model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

#Compiling the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

#training the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_split=0.1)

#Evaluating the model on the test set
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Tess_Loss: {loss:.4f}, Test_Accuracy: {accuracy:.4f}')

Epoch 1/10
2040/2040 [==============================] - 3s 1ms/step - loss: 18.4647 - accuracy: 0.9906 - val_loss: 5.5025 - val_accuracy: 0.9971
Epoch 2/10
2040/2040 [==============================] - 2s 1ms/step - loss: 11.6380 - accuracy: 0.9924 - val_loss: 4.0677 - val_accuracy: 0.9971
Epoch 3/10
2040/2040 [==============================] - 2s 1ms/step - loss: 1.6405 - accuracy: 0.9940 - val_loss: 0.0874 - val_accuracy: 0.9971
Epoch 4/10
2040/2040 [==============================] - 2s 993us/step - loss: 0.7760 - accuracy: 0.9941 - val_loss: 1.6746 - val_accuracy: 0.9971
Epoch 5/10
2040/2040 [==============================] - 2s 1ms/step - loss: 0.2756 - accuracy: 0.9960 - val_loss: 0.0248 - val_accuracy: 0.9978
Epoch 6/10
2040/2040 [==============================] - 2s 1ms/step - loss: 0.0917 - accuracy: 0.9964 - val_loss: 0.0084 - val_accuracy: 0.9971
Epoch 7/10
2040/2040 [==============================] - 2s 1ms/step - loss: 0.0224 - accuracy: 0.9966 - val_loss: 0.0114 - val_accuracy: 0.9971
Epoch 8/10
2040/2040 [==============================] - 2s 1ms/step - loss: 0.0234 - accuracy: 0.9965 - val_loss: 0.0168 - val_accuracy: 0.9971
Epoch 9/10
2040/2040 [==============================] - 2s 1ms/step - loss: 0.0267 - accuracy: 0.9965 - val_loss: 0.0228 - val_accuracy: 0.9971
Epoch 10/10
2040/2040 [==============================] - 2s 1ms/step - loss: 0.2902 - accuracy: 0.9947 - val_loss: 0.0197 - val_accuracy: 0.9926
567/567 [==============================] - 0s 730us/step - loss: 0.0211 - accuracy: 0.9921
Tess_Loss: 0.0211, Test_Accuracy: 0.9921