In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pip install pandas numpy matplotlib seaborn sklearn

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pandas in /usr/local/lib/python3.9/site-packages (2.0.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/site-packages (1.24.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/site-packages (3.7.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.9/site-packages (0.12.2)
Requirement already satisfied: sklearn in /usr/local/lib/python3.9/site-packages (0.0.post4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/zabihbuda/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /Users/zabihbuda/Library/Python/3.9/lib/python/site-packages (from matplotlib) (23.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/site-packages (from matplotlib) (5.12.0)
Requirement already satisfied: zipp>=3.1.0 in /Users/zabihbuda/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [3]:
df_customers=pd.read_csv('/Users/zabihbuda/Desktop/York Universiy files/Data Science /schulich_data_science_1/customers.csv')
df_customers.head()

,id,cust_name,num_products,province,len_relationship,cust_category
0,1001,Johnny Awesome,3,ON,1,wealth
1,1002,Bob Marley,4,ON,1,personal_banking
2,1004,Taylor Swift,2,AB,2,hnw
3,1101,James Dean,3,BC,3,wealth
4,1006,Stephen Smith,5,ON,4,hnw

In [4]:
df_transactions=pd.read_csv('/Users/zabihbuda/Desktop/York Universiy files/Data Science /schulich_data_science_1/transactions.csv')
df_transactions.head()

   id  customer_id txn_type  txn_total
0   1         1001    Debit     165.78
1   2         1001   Credit      42.10
2   4         1001   Credit     103.03
3   5         1001   Credit      56.60
4   6         1002    Debit     214.34

In [6]:
df_customers.isnull().sum()

id                  0
cust_name           0
num_products        0
province            0
len_relationship    0
cust_category       0
dtype: int64