In [3]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.formula.api import ols
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [4]:
df=pd.read_csv('/Users/zabihbuda/Desktop/York Universiy files/Data Science /schulich_data_science_1/bikes_sharing.csv')
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [7]:
x=df['temp']
y=df['casual']

In [8]:
result=ols("casual ~ temp", data=df).fit() #ols: ordinary least square

In [10]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 casual   R-squared:                       0.218
Model:                            OLS   Adj. R-squared:                  0.218
Method:                 Least Squares   F-statistic:                     3037.
Date:                Tue, 27 Jun 2023   Prob (F-statistic):               0.00
Time:                        21:32:19   Log-Likelihood:                -56684.
No. Observations:               10886   AIC:                         1.134e+05
Df Residuals:                   10884   BIC:                         1.134e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -24.5710      1.178    -20.855      0.000     -26.880     -22.262
temp           2.9951      0.054     55.112      0.000       2.889       3.102
==============================================================================
Omnibus:                     5847.505   Durbin-Watson:                   0.143
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            47907.828
Skew:                           2.479   Prob(JB):                         0.00
Kurtosis:                      12.002   Cond. No.                         60.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

R-squared: shows if the model is doing ok
F-statistic shows if the relationship has signficance difference
coef: it states that with 1 degree of temp, 3 bycicle will be rented.

In [12]:
result2=ols("casual ~ temp + humidity + workingday", data=df).fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 casual   R-squared:                       0.433
Model:                            OLS   Adj. R-squared:                  0.432
Method:                 Least Squares   F-statistic:                     2766.
Date:                Tue, 27 Jun 2023   Prob (F-statistic):               0.00
Time:                        21:42:20   Log-Likelihood:                -54939.
No. Observations:               10886   AIC:                         1.099e+05
Df Residuals:                   10882   BIC:                         1.099e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     53.1426      1.663     31.961      0.000      49.883      56.402
temp           2.9255      0.046     63.025      0.000       2.835       3.016
humidity      -0.8365      0.019    -44.527      0.000      -0.873      -0.800
workingday   -36.0416      0.774    -46.549      0.000     -37.559     -34.524
==============================================================================
Omnibus:                     4466.473   Durbin-Watson:                   0.214
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            30124.085
Skew:                           1.830   Prob(JB):                         0.00
Kurtosis:                      10.281   Cond. No.                         316.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

R-squared has come closer to 1 as the number of features added.

In [15]:
y_pred=result2.predict(df[['temp', 'humidity', 'workingday']])
y_pred

0        14.175362
1        12.612922
2        12.612922
3        19.194189
4        19.194189
           ...
10881    20.856745
10882    12.602536
10883     6.857740
10884     6.857740
10885     0.276474
Length: 10886, dtype: float64